avro==1.9.0
backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
certifi==2019.6.16
chardet==3.0.4
confluent-kafka==1.0.1
cycler==0.10.0
dnspython==1.15.0
enum34==1.1.6
fastavro==0.22.2
futures==3.2.0
gyp==0.1
html5lib==0.999999999
idna==2.8
kafka-python==1.4.6
lxml==4.2.1
matplotlib==2.1.1
numpy==1.13.3
olefile==0.45.1
Pillow==5.1.0
Pivy==0.5.0
pkg-resources==0.0.0
ply==3.11
pycollada==0.4
pycrypto==2.6.1
PyICU==1.9.8
pyparsing==2.2.0
PySide==1.2.2
python-dateutil==2.6.1
pytz==2018.3
ranger==1.8.1
requests==2.22.0
six==1.11.0
subprocess32==3.2.7
urllib3==1.26.5
webencodings==0.5
wxPython==3.0.2.0
wxPython-common==3.0.2.0
